body {
    margin: 0;
    height: 100%;
    background-image: url("../images/background.png");
}
/* overlay to cover game page for start/naming page */
/* Overlay for instructions after adoption before starting the game */
#startPageOverlay{
    position:absolute;
    display: ; 
    /* start display value empty to make is visible and clickable, change to none on name click */
    opacity:1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    margin: 0;
    z-index: 2;
}
#adoptionBanner{
    font-size: 64px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    background-color: white;
}
#options{
    margin: 20px;
    padding: 10px;
}
#dogPic {
    width: 125px;
    height: auto;	
}
#nameIt{
    padding: 10px;
}
#enterName{
    margin: 20px;
    padding: 10px;
}
#instructions{
    position:absolute;
    display: ; 
    /* start display value empty to make is visible and clickable, change to none button click */
    opacity:1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    justify-content: center;
    text-align: center;
    background-color: dimgray;
    color: white;
    padding: 10px;
    margin: 0;
    z-index: 1;
}
#instructions h1 {
    margin: 50px;
}
#instructions h3 {
    margin: 50px;
}

#instructions img{
    border: 1px solid #ddd;	/* thickness and color of border */
    border-radius: 5px;		/* edge rounding of border */
    width: 50px;				/* width of image (px or % or auto) */
    height: auto;				/* height of image (px or % or auto) */
    margin: 0;
    padding: 0;
}

/* Main game stuff */
#mainPage{
    margin: 0;
    padding: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);
    height: 100%;
}
#statusWindow {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: auto;
    flex-direction: column;
    background-color: white;
    size-adjust: 75%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);
}
#nameStatus {
    padding: 5px;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
}
#statusWindow p {
    margin: 2px;
}
.meter {
    height:16px;
    width:90%;
    border: solid;
    border-width: 1px;
}

/* #hungerBar{
    height:16px;
    width:20%;
    color: red;
} */
#nameStatus {
    margin-left: auto;
    margin-right: auto;
}
#mainFloor {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 300px;
}
#dog {
    width: 125px;
    /* change width value to 150px when dog hits 2/14 years old and grows */
    height: auto;	
    margin-top: 25px;
}
#controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
#light{
    position: absolute;
    left: 80%;
    top: 10%;
    width: 30px;
    height: auto;	
    margin: 0;
}
#bed{
    width: 150px;
    height: auto;
}
#toy{
    width: 150px;
    height: auto;
}
#bowl{
    width: 150px;
    height: auto;
}
