body {
    margin: 0;
    height: 100%;
    background-image: url("../images/background.png");
}
/* overlay to cover game page for start/naming page */
#startPageOverlay{
    position:absolute;
    opacity:1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    margin: 0;
}
/* #startPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    margin: 0;
} */
#adoptionBanner{
    font-size: 64px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    background-color: white;
}
#options{
    margin: 20px;
    padding: 10px;
}
#dogPic {
    width: 150px;
    height: auto;	
}
#nameIt{
    padding: 10px;
}
#enterName{
    margin: 20px;
    padding: 10px;
}


/* Main game stuff */
#mainPage{
    margin: 0;
    padding: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);
    height: 100%;
}
#statusWindow {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    width: 250px;
    height: auto;
    flex-direction: column;
    background-color: white;
    size-adjust: 75%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);
}
.stats{

}
#nameStatus {
    margin-left: auto;
    margin-right: auto;
}
#mainFloor {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#dog {
    width: 150px;
    height: auto;	
    margin: 0;
}
#controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
#light{
    position: absolute;
    left: 80%;
    top: 10%;
    width: 30px;
    height: auto;	
    margin: 0;
}
#bed{
    width: 150px;
    height: auto;
}
#toy{
    width: 150px;
    height: auto;
}
#bowl{
    width: 150px;
    height: auto;
}

/* for starter page */
