body {
    margin: 0;
    height: 100%;
    background-color: green;
    /* background-image: url("../images/background2.png"); */
}
/* overlay to cover game page for start/naming page */
#startPageOverlay{
    position:absolute;
    display: ;
    /* start display value empty to make is visible and clickable, change to none on name click */
    opacity:1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    margin: 0;
    z-index: 4;
}
#adoptionBanner{
    font-size: 64px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    background-color: white;
}
#options{
    margin: 20px;
    padding: 10px;
}
#dogPic {
    width: 125px;
    height: auto;	
}
#nameIt{
    padding: 10px;
}
#enterName{
    margin: 20px;
    padding: 10px;
}
/* Overlay for instructions after adoption before starting the game */
#instructions{
    position:absolute;
    display: ; 
    /* start display value empty to make is visible and clickable, change to none button click */
    opacity:1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    justify-content: center;
    text-align: center;
    background-color: dimgray;
    color: white;
    padding: 10px;
    margin: 0;
    z-index: 3;
}
#instructions h1 {
    margin: 50px;
}
#instructions h3 {
    margin: 50px;
}
#instructions img{
    border: 1px solid #ddd;	/* thickness and color of border */
    border-radius: 5px;		/* edge rounding of border */
    width: 50px;				/* width of image (px or % or auto) */
    height: auto;				/* height of image (px or % or auto) */
    margin: 0;
    padding: 0;
}
/* overlay for when the dog dies */
#death{
    position:absolute;
    display: ; 
    left:0;
    right:0;
    top:0;
    bottom:0;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    color: white;
    padding: 0;
    margin: 0;
    z-index: -5;
}
#deathText{
    position:absolute;
    left: 30%;
    top: 60%;
    width: 40%;
    height: auto;	
    margin: 0;
    color: black;
}
#deathImg{
    height: 60%;
    width: auto;
}
#reload{
    position:absolute;
    left: 42%;
    top: 80%;
    width: 16%;
    height: auto;	
    margin: 0;
    color: black;
}
/* overlay for lights out */
#lights {
    position:absolute;
    display: ; 
    opacity:0;
    left:0;
    right:0;
    top:0;
    bottom:0;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    z-index: 5;
    pointer-events: none;
}

/* Main game stuff */
#mainPage{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display: ;
    margin: 0;
    padding: 0;
    background-image: url("../images/background2.png");
    width: 100%;
    z-index: 2;
}
#statusWindow {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: auto;
    flex-direction: column;
    background-color: white;
    size-adjust: 75%;
}
#nameStatus {
    padding: 5px;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
}
#age{
    
}
#statusWindow p {
    margin: 2px;
}
.meter {
    height:16px;
    width:90%;
    border: solid;
    border-width: 1px;
}
#hungerBarFill{
    height: 100%;
    width: 0%;
    background-color: red;
}
#boredomBarFill{
    height: 100%;
    width: 0%;
    background-color: red;
}
#sleepBarFill{
    height: 100%;
    width: 0%;
    background-color: red;
}
#nameStatus {
    margin-left: auto;
    margin-right: auto;
}
#mainFloor {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 300px;
}
#dog {
    width: auto;
    /* change height value when dog hits 2/14 years old and grows up*/
    height: 175px;	
    margin-top: 25px;
}
#controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
#light{
    position: absolute;
    left: 80%;
    top: 10%;
    width: 30px;
    height: auto;	
    margin: 0;
}
#evolution{
    position: absolute;
    left: 35%;
    top: 230px;
    width: 30%;
    height: auto;	
    margin: 0;
    font-size: 18px;
    text-align: center;
    background: white;
    border-radius: 5px;
}
#bed{
    width: 150px;
    height: auto;
}
#toy{
    width: 130px;
    height: auto;
}
#bowl{
    width: 150px;
    height: auto;
}
